# ignore file with VM UUID's
.vagrant

# ignore private keys
/puppet/modules/development/files/*.ppk

# ignore projects (repositories)
/projects/

# auto-recreated remote desktop files
/miscellaneous/*.rdp

# ignoring configuration file is better utilized using Git's `skip-worktree` flag
# vagrantfile.config

